#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pagination-container button,
.sorting-container button {
  margin: 5px;
}

.active-button {
  border: 3px solid;
}